html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color : #160F29;
    background: cadetblue;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: antiquewhite;
    border-top: 1px dotted #160F29;
}


body > .container {
    padding: 30px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
a{
    color : burlywood;
}
